chromadb==0.5.3
requests==2.32.3
torch==2.3.1
transformers==4.41.2
pypdf2==3.0.1
sentence_transformers==3.0.1
python-dotenv==1.0.1
django==4.2.13
langchain
langchain-huggingface
huggingface-hub
unstructured
markdown
psutil